
<!-- saved from url=(0071)https://raw.github.com/startup-class/bitstarter-ssjs-db/master/Procfile -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css"></style></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">web: node web.js
</pre></body></html>